/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     margin: 0px;
 }

 div.body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.left-side{
    display: flex;
    flex-direction: column;
    order: -1;
    position: sticky;
    height: 580px;
    top: 0;
}

div.right-side{
    display: flex;
    flex-direction: column;
    order: 1;
    position: sticky;
    height: 500px;
    top: 0;
}

div.logo{
    font-weight: 700;
}

div.logo a{
    font-size: 30px;
    color: #1DA1F2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

div.logo a:hover{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #1da0f218;
}

ul.toolbar{
    font-size: 20px;
    padding: 0px;
}

li.ind-list{
    list-style: none;
    height: 50.25px;
    box-sizing: border-box;
    width: 251px;
}

li.ind-list a{
    text-decoration: none;
    color: #0F1419;
    padding: 12px;
}

li.ind-list a:hover{
    background-color: #1da0f218;
    color: #1DA1F2;
    padding: 12px;
    border-radius: 9999px;
}

div.feed{
    background-color: white;
    width: 598px;
    display: flex;
    flex-direction: column;
    order: 1;
    border: 1px solid rgb(235, 238, 240);
    border-top: none;
}

div.sticky-home-container{
    box-sizing: border-box;
    width: 598px;
    height: 53px;
    border: 1px solid rgb(235, 238, 240);
    border-right: none;
    border-left: none;
    border-top: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
}

div.home-title-container{
    display: flex;
    align-items: center;
    width: 518px;
    height: 53px;
}

span.home-title{
    font-size: 20px;
    margin: 0px;
    color: #0F1419;
    font-weight: bold;
}

div.moment-container{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 16px;
}

div.usefulness{
    min-height: 10px;
    min-width: 598px;
    border: 1px solid rgb(235, 238, 240);
    background-color: rgb(235, 238, 240);
}

ul.feed-list{
    margin: 0px;
    padding: 0px;
    border-color: rgb(235, 238, 240);
    border-right-width: 1px;
    border-left-width: 1px;
}

a.comment{
    background-color: transparent;
    border: none;
    color: lightblue;
    min-width: 25px;
    min-height: 25px;
}

div.container{
    position: relative;
    margin-left: 30px;
}

.step_form > h2, h4, p{
    margin-left: 30px;
    margin-right: 30px;
}

#private{
    margin: 0px 30px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uploaded_image{
    background-size: 100%;
    overflow: auto;
}

#confirm_p{
    margin-top: 80px;
}