form {
    max-width: 25px;
    margin: 0px;
}

form.comment-form{
    visibility: hidden;
}

div.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.step_form{
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    font-family: apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 600px;
    height: 650px;
    box-shadow: 0px 0px 1111px 2000px rgba(0,0,0,0.71);
}

.top-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 10px;
}