.fa.fa-twitter{
    font-size: 35px;
    color: #1DA1F2;
}

<<<<<<< HEAD
.fa.fa-twitter.login{
    font-size: 45px;
    margin-top: 15px;
    align-self: center;
}

=======
>>>>>>> 706482d32e735cf040b39b601681d4eeed6500ec
.fa.fa-camera{
    position: absolute;
    font-size: 20px;
}

.fa.fa-times.uploaded{
    position: absolute;
    font-size: 20px;
    color: gray;
<<<<<<< HEAD
}

.navbar{
    margin-right: 20px;
=======
>>>>>>> 706482d32e735cf040b39b601681d4eeed6500ec
}