.fa.fa-twitter{
    font-size: 35px;
    color: #1DA1F2;
}

.fa.fa-twitter.login{
    font-size: 45px;
    margin-top: 15px;
}

.fa.fa-camera{
    position: absolute;
    font-size: 20px;
}

.fa.fa-times.uploaded{
    position: absolute;
    font-size: 20px;
    color: gray;
}