li.tweete-container{
    width: 598px;
    list-style: none;
}

div.tweete{
    padding: 0px 16px 0px 16px;
    min-height: 98px;
    width: 598px;
    border-bottom: 1px solid rgb(235, 238, 240);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    box-sizing: border-box;
}

div.tweete-left-side{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 48px;
    max-width: 48px;
    margin-right: 12px;
    padding: 12px 0px 12px 0px
}

div.tweete-right-side{
    min-width: 546px;
    max-width: 546px;
    box-sizing: border-box;
    padding: 12px 0px 12px 0px;
}

b.tweete-name{
    font-weight: bold;
}

div.tweete-top{
    display: flex;
    justify-content: stretch;
    margin-bottom: 2px;
}

div.tweete-content{
    max-width: 496px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

img.tweete-img{
    margin-top: 12px;
    border: 1px solid black;
    border-radius: 5%;
}

#new_tweet_textarea{
    font-size: 18px;
    min-width: 80%;
    outline: none;
}

// #new_tweete_textarea :focus{
//     font-size: 18px;
//     min-width: 80%;
//     border-color: transparent;
// }

.tweete_media{
    max-width: 400px;
    max-height: 400px;
}

.prof-cont{
    max-width: 100px;
    max-height: 100px;
}

div.new_tweete_container{
    margin: 10px;
}

.tweete_media{
    border-radius: 20px;
}